@mixin backgroundGradient {
  background: #c43b00;
  background: -moz-linear-gradient(45deg, #c43b00 0%, #c43b00 50%, #de4300 50%, #de4300 100%);
  background: -webkit-linear-gradient(45deg, #c43b00 0%,#c43b00 50%,#de4300 50%,#de4300 100%);
  background: linear-gradient(45deg, #c43b00 0%,#c43b00 50%,#de4300 50%,#de4300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c43b00', endColorstr='#de4300',GradientType=1 );
}

.recent-mail-container {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding: 68px 20px 36px 20px;
  @include backgroundGradient;

  a {
    margin: 10px;
    padding: 0px 10px 0px 0px;
    width: 420px;
    background-color: white;
    border-radius: 0px;

    img {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .email-content-preview {
      min-width: 320px;
      max-width:320px;
      white-space: normal;
      word-wrap: break-word;
      line-height: 20px;
      text-align: left;
      padding: 10px 26px 10px 0px;
      margin: 0px;
      height: 70px;
      display: inline-block;
      overflow-y: hidden;
    }

    .email-sender-name {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left:110px;
      text-align: left;
      font-weight: bold;
    }

  }
}

.calendar-events-container {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding: 68px 20px 36px 20px;
  background: #008caa;
  background: -moz-linear-gradient(45deg, #008caa 0%, #008caa 50%, #009cbd 50%, #009cbd 100%);
  background: -webkit-linear-gradient(45deg, #008caa 0%,#008caa 50%,#009cbd 50%,#009cbd 100%);
  background: linear-gradient(45deg, #008caa 0%,#008caa 50%,#009cbd 50%,#009cbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c43b00', endColorstr='#de4300',GradientType=1 );

  a {
    margin: 10px;;
    min-width: 80px;
    max-width: 160px;
    background-color: white;
    border-radius: 0px;
    text-align: center;

    .calendar-event-time {
      color: darkgray;
      font-weight:bold;
      padding: 10px 0px 10px 0px;
      margin: 0px;
    }

    .calendar-event-description {
      white-space: normal;
      word-wrap: break-word;
      line-height: 20px;
      padding: 5px 10px 10px 10px;
    }
  }
}

.highscores-container {
  padding: 20px;
  background-color: #333333;

  ul {
    background-color: white;
    margin-top: 16px;
    padding: 0px 12px 0px 12px;
  }

  ion-item {
    display: table;
    height: 60px;
    padding-left: 0px;
    border-left: none;
    border-right: none;

    .col {
      padding: 0px;
    }

    img {
      height: 50px;
      margin: 10px 10px 10px 0px;
    }

    .score-name {
      padding-left: 20px;
      height: 60px;
      display: table-cell;
      vertical-align: middle;
      font-weight: bolder;
    }

    .score-text {
      font-size: 1.6em;
      color: darkgrey;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }

  ion-item:last-child {
    padding-bottom: 0px;
  }
}

.home-email-alert, .home-calendar-alert {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

#profileImageCol{
  background: url('../assets/images/profile_image.jpg');
  border: solid 1px black;
  border-radius: 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height:180px;
  width:180px;
  margin: auto;
}
.profileEnergizedBackground{
  margin:-10px;
  @include backgroundGradient;
}
.profileCenterText{
  text-align: center;
}
.profileIcons{
  font-size:35px;
}
.row{
  ion-scroll{
    height:100px;
  }
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  line-height: 100px;
  margin: 0 auto;
  /* width and height can be anything, as long as they're equal */
}
.circleSmall{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  font-size:25px;
  text-align:center;
  line-height: 45px;
  margin: 0 auto;
}
.colorGold{
  background-color: #f5bf03;
}
.colorSilver{
  background-color: #c5c9c7;
}
.colorBronze{
  background-color: #CD7F32;
}
.colorDiamond{
  background-color: #14d3ff;
}
.sideMenuColor{
  padding-top:0px;
  .item-content{
    color:black;
  }
}
.sideMenuProfile{
  width:100%;
  height:150px;
  @include backgroundGradient;
  #sideMenuProfileImage{
    background: url('../assets/images/profile_image.jpg');
    border: solid 1px black;
    border-radius: 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height:100px;
    width:100px;
    margin: auto;
  }
  #sideMenuProfileAchievement{

  }
  #sideMenuProfileName{
    h4{
      text-align:center;
      width:130px;
      margin:auto;
    }
  }
}
@media(max-width:1023px){
  #login {
    background:url('../assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  #loginForm{
    margin-top:350px;
    .button-light{
      float:right;
    }
  }
}
@media(min-width:1024px){
  #login {
    background:url('../assets/images/background_large.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  #loginForm{
    margin-top:500px;
    .button-light{
      float:right;
    }
  }
}

.shine-me {
  width:100%; /*Make sure the animation is over the whole element*/

  -webkit-animation-name: ShineAnimation;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@-webkit-keyframes ShineAnimation{
  from {
    background-repeat:no-repeat;
    background-image:-webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.0) 45%,
        rgba(255, 255, 255, 0.5) 48%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 52%,
        rgba(255, 255, 255, 0.0) 57%,
        rgba(255, 255, 255, 0.0) 100%
    );
    background-position:-150px;
  }
  to {
    background-repeat:no-repeat;
    background-position:250px;
  }
}
