<ion-view view-title="Hi, Matthias!">
  <ion-content>
    <div class="recent-mail-container">
      <div class="homeNotification homeCenter">
        <h5> <i class="icon ion-email-unread"></i> You have {{mails.length}} new emails</h5>
      </div>
      <ion-slide-box does-continue="true"  auto-play="true" slide-interval="5000" on-slide-changed="updateSlideIndex($index)">
        <ion-slide ng-repeat="mail in mails">
          <div class="row">
            <div class="col col-25 recentMailImage">
              <img src="{{ mail.senderImage }}">
            </div>
            <div class="col col-75 recentMailContent">
              <p>
                {{ mail.emailText }}
              </p>
              <div class="recentMailSenderInformation">
                {{ mail.senderName }}
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="news-container">
      <div class="homeNotification" ng-click="toggleNews()">
        <h5> <i ng-class="showNews ? 'ion-chevron-up' : 'ion-chevron-down'"></i> Recent News</h5>
      </div>
      <ul ng-show="showNews">
        <ion-item class="row" ng-repeat="newsItem in recentNews">
          <img src="{{ newsItem.image }}" style="float: left" />
          <small style="float: right; font-size: .8em; font-style: italic">({{ newsItem.date }})</small>
          <h2 style="margin-top: 8px;">{{ newsItem.title }}</h2>
          <p class="news-content">{{ newsItem.content }}</p>
          By <span style="font-style: italic">{{ newsItem.author }}</span>
          <b style="float:right; margin-bottom: 8px">Read more..</b>
        </ion-item>
      </ul>
    </div>
    <div class="calendar-events-container">
      <div class="homeNotification homeCenter">
        <h5> <i class="icon ion-ios-timer-outline"></i> You have {{ upcomingEvents.length}} upcoming events</h5>
      </div>
      <a class="button inline-button" ng-repeat="upcomingEvent in upcomingEvents">
        <div class="calendar-event-time">
          {{ upcomingEvent.eventTime }}
        </div>
        <div class="calendar-event-description">
          {{ upcomingEvent.eventText }}
        </div>
      </a>

    </div>

    <div class="highscores-container">
      <div class="homeNotification" ng-click="toggleHighscore()">
        <h5> <i ng-class="showHighscore ? 'ion-chevron-up' : 'ion-chevron-down'"></i> Top activity this month</h5>
      </div>

      <ul  ng-show="showHighscore">
        <ion-item class="row" ng-repeat="highscore in highscores">
          <div class="col col-20">
            <img src="{{ highscore.userImage }}" />
          </div>
          <div class="col col-50 score-name">
            {{ highscore.userName }}
          </div>
          <div class="col col-30 score-text">
            {{ highscore.userScore }} <small>Pts.</small>
          </div>
        </ion-item>
      </ul>

    </div>

  </ion-content>
</ion-view>
