<ion-view id="login" hide-nav-bar="true">
  <ion-content scroll="false">
    <form id="loginForm" >
      <div class="row responsive-md">
        <div class="col col-50 col-offset-25">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email">
            </label>
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input type="password" placeholder="Password">
            </label>
          </div>
          <button class="button button-block button-energized" ng-click="logMeIn()" type="submit">
            Log In
          </button>
          <button class="button button-block button-energized" ng-click="logUsersInConsole()" type="submit">
            Users test
          </button>
          <button class="button button-clear button-light ">
            Forgot password?
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>



