<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>
    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-dark">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-dark">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content class="sideMenuColor">
      <ion-list>
        <div class="sideMenuProfile">
          <div class="row">
            <div class="col col-50">
              <div id="sideMenuProfileImage"></div>
            </div>
            <div class="col col-50">
              <div id="sideMenuProfileAchievement">
                <div class="circle colorSilver shine-me">123p</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-100" id="sideMenuProfileName">
              <h4>Matthias Eklund</h4>
            </div>
          </div>
        </div>
        <ion-item class="item-icon-left item-icon-right">
            <i class="icon ion-search"></i>
            <input type="search" placeholder="Search profile, file, mail" ng-model="menu.search" ng-change="onSearchChange()">
            <i id="discardSearch" ng-click="discardSearch()" class="icon ion-close-circled"></i>
        </ion-item>

        <div id="sideMenuContent" ng-show="showContent">
          <ion-item class="item-icon-left item-icon-right" ng-show="menu.lastSearch" ng-click="clickLastSearch">
            Last search: {{menu.lastSearch}}
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.home">
            <i class="icon ion-ios-home"></i>
            Home
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.home">
            <i class="icon ion-ios-calendar"></i>
            Calendar
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.home">
            <i class="icon ion-ios-email"></i>
            Email
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.home">
            <i class="icon ion-folder"></i>
            My files
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.home">
            <i class="icon ion-trophy"></i>
            Highscore
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="main.profile">
            <i class="icon ion-person"></i>
            Profile
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="login">
            <i class="icon ion-unlocked"></i>
            Logout
          </ion-item>
        </div>
      </ion-list>
      <div id="sideMenuSearchResult" ng-show="showResult">
        <ion-list>
          <ion-item>
            <div id="searchTerm">
              Searching for: {{menu.search}}
            </div>
          </ion-item>
          <h6>Profile results: </h6>
          <ion-item>
              Profiles containing: {{menu.search}}
          </ion-item>
          <h6>File results: </h6>
          <ion-item>
              Files containing: {{menu.search}}
          </ion-item>
          <h6>Mail results: </h6>
          <ion-item>
              Mails containing: {{menu.search}}
          </ion-item>
        </ion-list>
      </div>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
