<ion-view view-title="Profile">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <div class="row">
      <div id="profileImageCol"></div>
    </div>
    <div class="row profileCenterText">
      <div class="col col-50 col-offset-25"><h4>Max Alenius</h4><h5>Sundsvall</h5></div>
    </div>
    <div class="row profileIcons profileCenterText">
      <div class="col col-33"><i class="icon ion-email placeholder-icon"></i></div>
      <div class="col col-33"><i class="icon ion-ios-telephone placeholder-icon"></i></div>
      <div class="col col-33"><i class="icon ion-ios-videocam placeholder-icon"></i></div>
    </div>
    <div class="row">
      <div class="col col-25"><h4>About</h4></div>
    </div>
    <div class="row">
      <ion-scroll direction="y">It is a long established fact that a reader will be distracted by the readable content of a page when loIt is a long established fact that a reader will be distracted by the readable content of a page when looIt is a long established fact that a reader will be distracted by the readable content of a page when looIt is a long established fact that a reader will be distracted by the readable content of a page when loooking at its layout.</ion-scroll>
    </div>
    <div class="row">
      <div class="col col-25"><h4>Activity</h4></div>
    </div>
    <div class="row">
      <div class="col col-50">
        <h5 class="profileCenterText">Score</h5>
        <div class="circle">123pts</div>
      </div>
      <div class="col col-50 profileCenterText">
        <h5>Achievement</h5>
        <div class="row">
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-nutrition"></i></div></div>
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-rose"></i></div></div>
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-game-controller-b"></i></div></div>
        </div>
        <div class="row">
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-americanfootball"></i></div></div>
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-people"></i></div></div>
          <div class="col col-33"><div class="circleSmall"><i class="ion-ios-wineglass"></i></div></div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
